@charset "utf-8";
@import url("./common.css");

.soundOnly{display:none; }
html,body{overflow:hidden;}
#main01 {
    width:100%;
    height:100vh;
    position:relative;
    overflow:hidden;
}
#main01 .bg{position:absolute; z-index:3; top:0; left:0; width:100%; height:100%; background:linear-gradient(180deg, rgba(0,0,0,0.4), transparent)}
#main01 .swiper-container{width:100%; height:100%; position:Absolute; top:0; left:0; z-index:1;  }
#main01 .swiper-slide img{width:100vw; height:100vh; object-fit: cover; }
#main01 .lang{margin-top:20px;}
#main01 .lang a{display:inline-block; margin:5px; }
#main01 .lang img{width:50px; height:50px; }
#main01 .main_txt{color:#fff; max-width:880px; margin:auto;z-index:9; text-align: center; display:flex; justify-content: center; align-items: center; position: relative; flex-direction: column; height: 100%; padding-bottom: 70px;}
#main01 .main_txt h1{margin:0; font-family: 'NanumMyeongjo';}
#main01 .main_txt span{font-size:18px; font-family: "Noto sans";}
#main01 .boxMenu{max-width:980px; width:90%; margin-top:80px; }
#main01 .boxMenu ul{display:flex; flex-wrap: wrap;}
#main01 .boxMenu li{width:50%; display:flex; }
#main01 .boxMenu li button{display:flex; width:100%; padding:15px 0; margin:5px; font-size:24px; font-weight: 600;background:rgba(255,255,255,.9); flex-direction: column; align-items: center; justify-content: center; outline: none; font-family: "Noto sans";}
#main01 .boxMenu li button .one{background: #edf2f8;color: #402b76; border-radius:50%; width:80px; height:80px; font-size:40px; display: flex; margin-bottom:10px; justify-content: center; align-items: center;}
#main01 .boxMenu li button .en{font-size:14px;font-weight: 400; display:inline-block; margin-top:5px; color:#868686; }
#main01 .boxMenu li button:hover{background:rgba(225, 216, 255, 0.9);}

.pop{max-width:850px; width:90%; min-height:250px; background:rgb(255,255,255); padding:20px; margin-top:30px; position:fixed; top:50%; left:50%; transform: translate(-50%, -50%); z-index:9000; box-shadow: 0 0 15px rgba(0,0,0,0.3); border-radius:10px; }
.pop .closeBtn{position:absolute; top:20px; right:20px; background:transparent; border:none; font-size:20px; color:#222; cursor:pointer; outline: none; }
.pop h4{color:#222; font-size:30px; font-weight:600;  }
.pop h4::after{content:''; display:block; width:20px; height:1; border-top:3px solid #a999c7; margin:20px auto 40px;  }
.pop .inner{text-align:left; width:100%; }
.pop .inner input,
.pop .inner select{width:100%;  color:#222; font-family: 'Noto Sans KR', sans-serif;}
.pop .inner .input-group{width:100%; margin-bottom:15px;  }
.pop .inner .input-group h5{font-size:18px; font-weight:600; color:#222; font-family: 'Noto Sans KR', sans-serif;}
.pop .inner .input-group h5 .red{color:#ff0000}
.pop .inner .input-center{text-align:center; padding:20px 0; color:#222; }
.pop .inner .btn{margin-top:20px; font-size:20px; text-align: center; background:#402b76; color:#fff; width:100%; font-family: 'Noto Sans KR', sans-serif;}

@media (max-width: 950px) {
    #main01 .boxMenu ul{width:90vw; }
}
@media (max-width: 568px) {
    #main01 .boxMenu{margin-top:30px; }
    #main01 .boxMenu ul{flex-direction: column; }
    #main01 .boxMenu li{width:100%; }
    #main01 .boxMenu li button{padding:10px 0;}
}